.container {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.menu {
    flex-grow: 1;
    background-color: blue;
    max-width: 20%;
    height: 100vh;
    padding: 0;
    margin: 0;
    margin-right: 20vw;
}

.workspace {
    flex-grow: 8;
    background-color: mediumseagreen;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.newObject {
    
}