<div id="workspace-root" tabindex="0">
        
        <div id="element-picker"> </div>

        <div id="newObject">
          <img src="${require(`../assets/addbutton.png`).default}" />
        </div>
        <h5 id="newObjectText">Normal</h5>

        <div id="newIfObject">
          <img src="${require(`../assets/addbutton.png`).default}" />
        </div>
        <h5 id="newIfObjectText">If</h5>

        <div id="newParallelObject">
          <img src="${require(`../assets/addbutton.png`).default}" />
        </div>
        <h5 id="newParallelObjectText">Parallel</h5>
</div>