<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title>Flowchart</title>
      <link rel="stylesheet" type="text/css" href="../styling/style.css">
      <!--<script src="../../scripts/main.js"></script>-->

    </head>
  <body>
    <div id="context"></div>
    <div id="container-root">
      <!--
      <div class="menu">
        <h1> Menu </h1>
        <div id="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis euismod erat. Mauris lobortis ultricies arcu non ullamcorper. Nulla facilisi.
          Integer rutrum, nisl vel faucibus ultrices, leo eros eleifend lectus, ut maximus leo metus non mi. Suspendisse molestie gravida ipsum. Nam ullamcorper, purus
          quis facilisis interdum, nulla nibh convallis ante, sed interdum odio nulla eu tellus. Sed eget nisl nec ligula rutrum sodales a vel justo. Nullam non molestie mauris.
          Etiam eu justo enim. In vitae tellus blandit, tincidunt urna eget, consectetur lectus.
          Etiam consectetur tempus rutrum. Proin hendrerit felis pharetra, fermentum erat eu, ornare eros. Donec quis purus semper, interdum mi sit amet, imperdiet leo.
          Nullam et ligula imperdiet tellus vulputate congue ac vitae justo. Phasellus nec dolor augue. Donec sagittis mollis imperdiet. Fusce feugiat mollis quam, a maximus quam luctus lobortis.
          Proin vehicula feugiat dolor, non mollis felis consequat ac. Nulla imperdiet faucibus nisl condimentum tincidunt. Vestibulum a dictum quam. Proin ullamcorper risus quam, ac porttitor est varius quis.

          Integer sed arcu rutru
        </div>

        <div id="input">
          Input: <br/>
        </div>
        <div id="output">
           Output: <br/>
        </div>
        <div>
          Function/Command: <br/>
          <input type="text"></input>
        </div>

        <div id="filemenu">
          <input type="text"></input>
        </div>

      </div>
    -->
      <div id="workspace-root">


        <div id="box1"><div id="box1-input" class="box-input"></div><div id="box1-output" class="box-output"></div></div>
        <div id="box2"><div id="box2-input" class="box-input"></div><div id="box2-output" class="box-output"></div></div>


        <h1> Flowchart goes here </h1>
        <div id="element-picker"> </div>

        <div id="newObject">
          <img src="../assets/addbutton.png"/>
        </div>

      </div>
    </div>
  </body>

  <div id="modal" class="modal">
    <div class="modal-header"></div>
    <div class="modal-content"></div>
    <div class="modal-footer"></div>
  </div>
  <script src="../../dist/bundle.js"></script>
</html>
<!DOCTYPE html>
