<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title>Flowchart</title>
      <link rel="stylesheet" type="text/css" href="../styling/style.css">
      <!--<script src="../../scripts/main.js"></script>-->

    </head>
  <body>
    <div id="context"></div>
    <div id="container-root">
      <!--
      <div class="menu">
        <h1> Menu </h1>
        <div id="description">
          Integer sed arcu rutru
        </div>

        <div id="input">
          Input: <br/>
        </div>
        <div id="output">
           Output: <br/>
        </div>
        <div>
          Function/Command: <br/>
          <input type="text"></input>
        </div>

        <div id="filemenu">
          <input type="text"></input>
        </div>

      </div>
    -->
      <div id="workspace-root">
        <h1> Flowchart goes here </h1>

          <div id="element-picker"> </div>
          
          <div id="newObject">
            <img src="../assets/addbutton.png"/>
          </div>
        
      </div>
    </div>
  </body>

  <div id="modal" class="modal">
    <div class="modal-header"></div>
    <div class="modal-content"></div>
    <div class="modal-footer"></div>
  </div>
  <script src="../../dist/bundle.js"></script>
</html>
<!DOCTYPE html>
