<div id="modal" class="modalFrame">
    <div class="modalHeader">
        <span id="nodeid"></span>
        <a class='dropdown-trigger btn' id="loadModalButton" href='#' data-target='modalDropdown'>Load</a>
    </div>

    <div class="modalContent"></div>

    <div class="modalFooter">
        <button class="btn" id="saveModalButton">Save</button>
        <button class="btn" id="closeModalButton">Close</button>
    </div>

    <ul id='modalDropdown' class='dropdown-content'>
        <!-- lägg in sökruta här för att filtrera i dropdown -->
        <!-- Gör en loop här över de element som ligger i dropdownlistan som matchar de funktionsdefinitioner som sökes-->
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>
</div>