
.buttonFooter {
    color: black;
    margin: 1%;
}

.buttonLoad {
    margin: 1%;
    color: black;
}

.idText {
    margin-right: auto;
    color: rgb(43, 47, 61);
}

.buttonFooterAdd {
    color: black;
    position: absolute;
    margin: 0.82%;
    left: 11%;
}

.backButton {
    margin: 1%;
    color: black;
}

.versionImages {
    max-width: 20px;
    max-height: 20px;
}