
.buttonFooter {
    color: black;
    margin: 1%;
}

.buttonLoad {
    margin: 1%;
    color: black;
}

.idText {
    margin-right: auto;
    color: rgb(43, 47, 61);
}

.buttonFooterAdd {
    color: black;
    /* position: absolute; */
    margin-right: 1300px;  
    margin: 0.82%;
    left: 10;
}