
/* ============================== COLORS ============================= */
:root {
    /* General colors */
    --background-color: rgb(71, 110, 119);
    --accent-color:     rgb(91, 79, 131);
    --button-color:     rgb(226, 179, 51);

    /* Node colors */
    --node-background:  rgb(26, 160, 104);
    --node-input:       rgb(113, 184, 113);
    --node-output:      rgb(182, 83, 104);
    --node-connector:   rgb(72, 163, 175);
    --node-highlight:   rgb(138, 179, 218);

    /* Modal colors */
    --modal-bg-color:   rgb(190, 219, 224);
    --modal-acc-color:  rgb(130, 147, 170);
    --modal-dropdown:   rgb(236, 221, 173);
}



/* ============================== WORKSPACE ============================= */
/* Standard measurement is in vw for width and height of items on the workspace. */
body{
    margin:0;
    padding:0;
    border:0;
}

:global #container-root {
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 0px;
}
/* .menu och .filemenu borde tas bort? */
:global .menu {
    text-align: center;
    flex-grow: 1;
    /*background-color: blue;*/
    max-width: 20%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-right: solid;
    border-color: black;
}

:global .filemenu {
    margin-top: 20vh;
    /*background-color: mediumturquoise;*/
}

:global #workspace-root {
    flex-grow: 8;
    position: relative;
    background-color: var(--background-color);
    height: 1500px;
    padding: 0;
    margin: 0;
}

:global #newObject {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 3%;
    background-color: var(--button-color);
    z-index: 10;
}

:global #newObject img {
    width: 100%;
}

/* används inte atm */
:global #element-picker { 
    background-color: orange;
    visibility: hidden;
    position: fixed;
    right: 6%;
    bottom: 6%;
    height: 15vh;
    width: 15vw;
}

/* ============================== NODES ============================= */
:global .startnode{
    background-color: var(--accent-color);
    height: 3vw;
    width: 8vw;
    position: absolute;
    border-radius: 20%;
    color: white;
    padding: 0.25em;
    text-align: center;
    font-size: 1.5vw;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
}

:global .connector-line {
    stroke-width: 10;
    stroke: black;
}

:global .connector {
    z-index: 1;
    background-color: var(--node-connector);
    pointer-events: none;
    position: absolute;
    padding:0vw; 
    margin:0vw;
    height:1vh;
    line-height:1px; 
}

/*border-radius is 1.1 times the height in the halfcircle*/

/*Input circle*/
.boxInput {
    border-radius: 1.65vw 1.65vw 0vw 0vw;
    width: 3vw;
    height: 1.5vw;
    margin-top: -1.5vw;
    margin-left: 6vw;
    background-color: var(--node-input);
    cursor: pointer;
}

/*Output circle*/
.boxOutput {
    border-radius: 0vw 0vw 1.65vw 1.65vw;
    width: 3vw;
    height: 1.5vw;
    margin-top: 12.5vw;
    margin-left: 6vw;
    background-color: var(--node-output);
    cursor: pointer;
}
/* Startnode Output */
.boxStart {
    border-radius: 0vw 0vw 1.65vw 1.65vw;
    width: 3vw;
    height: 1.5vw;
    margin-top: 0.43vw;
    margin-left: 2.24vw;
    background-color: var(--node-output);
    cursor: pointer;
    z-index: 0;
}
/* Invisible Dummy Node */
.boxStartDummy {
    visibility: hidden;
    width: 0vw;
    height: 0vw;
    z-index: -3;
}




.flowchart_square {
    z-index: 9;
    width: 15vw;
    border-radius: 1vw;
    cursor: move;
    position: absolute;
    background-color: var(--node-background);
}


/* ============================== MODAL ============================= */
/* The Modal (background) */
:global .modalFrame {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
:global .modalHeader {
  margin: 15% auto 0;
  margin-top: 10vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--modal-acc-color);
}

:global .modalHeader span{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 18px;
}

/* Modal Footer */
:global .modalFooter {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--modal-acc-color);
}

/* Modal Content/Box */
:global .modalContent {
  margin: 0 auto;
  background-color: var(--modal-bg-color);
  padding: 20px;
  border: 1px solid #888;
  width: 77%;
  /* align-content: right; */
}

:global .loadDropdownItem {
    padding: 15px 0; 
    padding-left: 5px; 
    padding-right: 5px; 
    word-wrap: break-word; 
    border-bottom:1px solid black;
    background-color: var(--modal-dropdown);
}