/* ========================= COLORS =============================  */
:root {
    /* General colors */
    --background-color: rgb(71, 110, 119);
    --accent-color:     rgb(91, 79, 131);
    --button-color:     rgb(226, 179, 51);

    /* Node colors */
    --node-background:  rgb(26, 160, 104);
    --ifnode-background:rgb(221, 136, 51);
    --node-input:       rgb(113, 184, 113);
    --node-ifinput:     rgb(57, 153, 218);
    --node-output:      rgb(182, 83, 104);
    --node-outputif:    rgb(0, 230, 57);
    --node-outputelse:  rgb(200, 100, 100);
    --node-connector:   rgb(72, 163, 175);
    --node-highlight:   rgb(138, 179, 218);

    /* Modal colors */
    --modal-bg-color:   rgb(190, 219, 224);
    --modal-acc-color:  rgb(130, 147, 170);
    --modal-dropdown:   rgb(236, 221, 173);
}


/* ============================== WORKSPACE ============================= */
body{
    margin:0;
    padding:0;
    border:0;
}

:global #container-root {
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 0px;
}
/* .menu och .filemenu borde tas bort? */
:global .menu {
    text-align: center;
    flex-grow: 1;
    /*background-color: blue;*/
    max-width: 20%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-right: solid;
    border-color: black;
}

:global .filemenu {
    margin-top: 20vh;
    /*background-color: mediumturquoise;*/
}

:global #workspace-root {
    flex-grow: 8;
    position: relative;
    background-color: var(--background-color);
    height: 1500px;
    padding: 0;
    margin: 0;
}

:global #newObject {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 3%;
    background-color: var(--button-color);
    z-index: 10;
}

:global #newObject img {
    width: 100%;
}

:global #newIfObject {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    right: 9%;
    bottom: 3%;
    background-color: var(--button-color);
    z-index: 10;
}

:global #newIfObject img {
    width: 100%;
}

/* används inte atm */
:global #element-picker { 
    background-color: orange;
    visibility: hidden;
    position: fixed;
    right: 6%;
    bottom: 6%;
    height: 15vh;
    width: 15vw;
}

/* ============================== NODES ============================= */
:global .startnode{
    background-color: var(--accent-color);
    height: 40px;
    width: 100px;
    position: absolute;
    border-radius: 10%;
    color: white;
    padding: 0.25em;
    text-align: center;
    font-size: 20px;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
}

:global .connector-line {
    stroke-width: 10;
    stroke: black;
}

:global .connector {
    z-index: 1;
    background-color: var(--node-connector);
    position: absolute;
    padding:0px; 
    margin:0px;
    height:10px;
    line-height:1px; 
}

/*border-radius is 1.1 times the height in the halfcircle*/

/*Input circle*/
.boxInput {
    border-radius: 50px 50px 0 0;
    width: 50px;
    height: 25px;
    margin-top: -25px;
    margin-left: 125px;
    background-color: var(--node-input);
    cursor: pointer;
    position: absolute;
}

/*Ifnode input circle*/
.boxIfInput {
    border-radius: 50px 50px 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -100px;
    margin-left: -25px;
    background-color: var(--node-ifinput);
    cursor: pointer;
    position: absolute;
}

/*Output circle*/
.boxOutput {
    border-radius: 0 0 50px 50px;
    width: 50px;
    height: 25px;
    margin-top: 250px;
    margin-left: 125px;
    background-color: var(--node-output);
    cursor: pointer;
    position: absolute;
}

/*Output circle*/
.boxOutputIf {
    border-radius: 50px 50px 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: -25px;
    background-color: var(--node-outputif);
    cursor: pointer;
    position: absolute;
}

/*Output circle*/
.boxOutputElse {
    border-radius: 50px 50px 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -100px;
    margin-left: 125px;
    background-color: var(--node-outputelse);
    cursor: pointer;
    position: absolute;
}
/* Startnode Output */
.boxStart {
    border-radius: 0 0 50px 50px;
    width: 50px;
    height: 25px;
    margin-top: 4px;
    margin-left: 22px;
    background-color: var(--node-output);
    cursor: pointer;
    z-index: 5;
    position: absolute;
}
/* Invisible Dummy Node */
.boxStartDummy {
    visibility: hidden;
    width: 0vw;
    height: 0vw;
    z-index: -3;
}

.flowchart_square {
    z-index: 9;
    width: 300px;
    border-radius: 20px;
    cursor: move;
    position: absolute;
    background-color: var(--node-background);
}

.flowchart_square p {
    position: absolute;
    text-align: center;
    width: 100%;
}

.conditionalnode {
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    z-index: 9;
    cursor: move;
    position: absolute;
    border-radius: 20px;
    background-color:var(--ifnode-background);
}



/* ============================== MODAL ============================= */
/* The Modal (background) */
:global .modalFrame {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
:global .modalHeader {
  margin: 15% auto 0;
  margin-top: 10vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--modal-acc-color);
  padding: 10px;
}

:global .modalHeader span{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

/* Modal Footer */
:global .modalFooter {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--modal-acc-color);
}

/* Modal Content/Box */
:global .modalContent {
  margin: 0 auto;
  background-color: var(--modal-bg-color);
  padding: 20px;
  border: 1px solid #888;
  width: 77%;
  /* align-content: right; */
}

:global .loadDropdownItem {
    padding: 15px 0; 
    padding-left: 5px; 
    padding-right: 5px; 
    word-wrap: break-word; 
    border-bottom:1px solid black;
    background-color: var(--modal-dropdown);
}