body{
    margin:0;
    padding:0;
    border:0;
}

#container-root {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.menu {
    text-align: center;
    flex-grow: 1;
    /*background-color: blue;*/
    max-width: 20%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-right: solid;
    border-color: black;
}

.filemenu {
    margin-top: 20vh;
    /*background-color: mediumturquoise;*/
}

#workspace-root {
    flex-grow: 8;
    position: relative;   
    background-color: mediumseagreen;
    height: 100vh;
    padding: 0;
    margin: 0;
    /*position: fixed;*/
}

#newObject {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 3%;
    background-color: orangered;
}
#newObject img {
    /*max-width: 50px;
    max-height: 50px;*/
    width: 100%;
}

#element-picker {
    background-color: orange;
    visibility: hidden;
    position: fixed;
    right: 6%;
    bottom: 6%;
    height: 15vh;
    width: 15vw;
}


.box-input {
 border-radius: 50%;
 height: 50px;
 width: 50px;
 margin-top: -25px;
 margin-left: 25px;
 background-color: green;
}

.node-content {
    height: 50px;
    width: 100px;
    background-color: salmon;
    visibility: hidden;
}

.box-output {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-left: 25px;
    background-color: red;
}



.newObject {
    
}

.flowchart-square {
    flex-direction: row;
    width: 100px;
    height: 100px;
    cursor: move;
    position: absolute;
    background-color: cornflowerblue;
}